#root > .card {
    max-width: 400px;
    margin: 10px auto;
  }
  
  button:disabled,
  button:disabled:hover {
    background-color: lightgray;
  }

.owner__Ties {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    padding: 4px;
    margin: 2em auto;
    border: 0 none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background: aliceblue;
    width: 40%;
}
